# Virtual Environment
venv/

# Cache
__pycache__/

# SQL commands playground
*.sql

# Archive files
*.tgz

# Outputs
# src/outputs/results/*
# src/outputs/logs/*
# src/outputs/plot/*
# *.log
# gathered_data.csv
# report.pdf

# Configurations
# hosts
# api.py
# db.py